@model UserRequestAdminVM

<div class="row">
    <div class="col-md-4">
        <form asp-action="@ViewBag.Action">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserRequest.Username" class="control-label"></label>
                <input asp-for="UserRequest.Username" class="form-control" />
                <span asp-validation-for="UserRequest.Username" class="text-danger"></span>
            </div>
            @if (ViewBag.Action == "Edit")
            {
                <label class="control-label">@Html.DisplayNameFor(model => model.UserRequest.Password1)</label>
                <select id="password-select" class="form-select">
                    <option value="keep">Keep Password</option>
                    <option value="change">Change Password</option>
                </select>
            }
            <fieldset id="password-fieldset"
            @(ViewBag.Action == "Edit" ? Html.Raw("class='border-start border-secondary ps-3 ms-3' style='display: none'") : "")>
                <div class="form-group">
                    <label asp-for="UserRequest.Password1" class="control-label"></label>
                    <input asp-for="UserRequest.Password1" class="form-control" />
                    <span asp-validation-for="UserRequest.Password1" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="UserRequest.Password2" class="control-label"></label>
                    <input asp-for="UserRequest.Password2" class="form-control" />
                    <span asp-validation-for="UserRequest.Password2" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <label asp-for="UserRequest.FirstName" class="control-label"></label>
                <input asp-for="UserRequest.FirstName" class="form-control" />
                <span asp-validation-for="UserRequest.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRequest.LastName" class="control-label"></label>
                <input asp-for="UserRequest.LastName" class="form-control" />
                <span asp-validation-for="UserRequest.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRequest.Email" class="control-label"></label>
                <input asp-for="UserRequest.Email" class="form-control" />
                <span asp-validation-for="UserRequest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRequest.Phone" class="control-label"></label>
                <input asp-for="UserRequest.Phone" class="form-control" />
                <span asp-validation-for="UserRequest.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserRequest.CountryOfResidenceId" class="control-label"></label>
                <select asp-for="UserRequest.CountryOfResidenceId" class="form-control" asp-items="ViewBag.CountryOfResidenceId"></select>
            </div>
            <hr />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                </label>
            </div>
            <div class="form-group mt-3">
                @if (@ViewBag.Action == "Edit")
                {
                    <input type="hidden" asp-for="@Model.UserRequest.Id" />
                }
                else
                {
                    <p id="user-not-confirmed-warning" class="text-danger">
                        Note: If user is not confirmed, validation message will be sent to the email address provided.
                    </p>
                }
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                <input type="submit" value="@ViewBag.ButtonText" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>