@model UserResponse

@{
    ViewBag.Title = "Activate, Deactivate or Delete user";
}

<h1>Activate, Deactivate or Delete user</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedAt)
        </dd>
        @if (Model.DeletedAt != null)
        {
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DeletedAt)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DeletedAt)
            </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IsConfirmed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IsConfirmed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CountryOfResidence)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CountryOfResidence)
        </dd>
    </dl>

    <a asp-action="Index" class="btn btn-secondary d-inline-block">Back to list</a>
    <form asp-action="Toggle" class="d-inline-block">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="@(Model.DeletedAt != null ? "Activate" : "Deactivate")" class="btn btn-warning" />
    </form>
    <form asp-action="Delete" class="d-inline-block">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</div>
