@model GenreDTO

@{
    ViewBag.Title = "Genre details";
}

<h1>Genre details</h1>

<hr />

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description?.Replace(Environment.NewLine, "<br/>") ?? "—")
        </dd>
    </dl>
</div>

<partial name="_ItemDetailsOptions" model="@Model.Id" />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_AjaxSupport");
    }
}