@model IEnumerable<RwaMovies.DTOs.TagDTO>

@{
    ViewData["Title"] = "Tags";
}

<section class="d-flex align-items-center flex-wrap g-4">
    <h1>@ViewData["Title"]</h1>
    <div>
        <a asp-action="Create" class="btn btn-primary mx-3">Create New</a>
    </div>
</section>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="d-flex flex-wrap gap-1 justify-content-end">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary ms-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
